ul#navegacao {
    background: #159cb0 url('imagens/fundo-horizontal.png') repeat-x;
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
    width: 556px;
}

ul#navegacao li {
    float: left;
}

ul#navegacao a {
    color: white;
    display: block;
    padding: 0 2em;
    line-height: 2.2em;
    text-decoration: none;
    background: url('imagens/divisor.png') repeat-y left top;
}   

ul#navegacao a:hover {
    color: #065b68; 
    background-color: #44cade;
}

ul a:hover, #home #navegacao .home a,
#sobre #navegacao .sobre a, #servicos #navegacao .servicos a,
#noticias #navegacao .noticias a , #contato #navegacao .contato a {
    color: #0c6472;
    background-color: #44cade;
}

ul#navegacao .primeiro a{
    background-image: none;
}